## Numpy Practice

This lecture is a practice for Numpy.

In [0]:
import numpy as np

Creating a numpy array.

In [0]:
mylist = [1,2,3]

In [4]:
type(mylist)

list

In [0]:
arr = np.array(mylist)

In [6]:
type(arr)

numpy.ndarray

In [9]:
for i in np.arange(100):
  print(f"Year is {i} and growth of $1 is {np.round(1.12**i,2)}")

Year is 0 and growth of $1 is 1.0
Year is 1 and growth of $1 is 1.12
Year is 2 and growth of $1 is 1.25
Year is 3 and growth of $1 is 1.4
Year is 4 and growth of $1 is 1.57
Year is 5 and growth of $1 is 1.76
Year is 6 and growth of $1 is 1.97
Year is 7 and growth of $1 is 2.21
Year is 8 and growth of $1 is 2.48
Year is 9 and growth of $1 is 2.77
Year is 10 and growth of $1 is 3.11
Year is 11 and growth of $1 is 3.48
Year is 12 and growth of $1 is 3.9
Year is 13 and growth of $1 is 4.36
Year is 14 and growth of $1 is 4.89
Year is 15 and growth of $1 is 5.47
Year is 16 and growth of $1 is 6.13
Year is 17 and growth of $1 is 6.87
Year is 18 and growth of $1 is 7.69
Year is 19 and growth of $1 is 8.61
Year is 20 and growth of $1 is 9.65
Year is 21 and growth of $1 is 10.8
Year is 22 and growth of $1 is 12.1
Year is 23 and growth of $1 is 13.55
Year is 24 and growth of $1 is 15.18
Year is 25 and growth of $1 is 17.0
Year is 26 and growth of $1 is 19.04
Year is 27 and growth of $1 is 21.32
Year is 28 and growth of $1 is 23.88
Year is 29 and growth of $1 is 26.75
Year is 30 and growth of $1 is 29.96
Year is 31 and growth of $1 is 33.56
Year is 32 and growth of $1 is 37.58
Year is 33 and growth of $1 is 42.09
Year is 34 and growth of $1 is 47.14
Year is 35 and growth of $1 is 52.8
Year is 36 and growth of $1 is 59.14
Year is 37 and growth of $1 is 66.23
Year is 38 and growth of $1 is 74.18
Year is 39 and growth of $1 is 83.08
Year is 40 and growth of $1 is 93.05
Year is 41 and growth of $1 is 104.22
Year is 42 and growth of $1 is 116.72
Year is 43 and growth of $1 is 130.73
Year is 44 and growth of $1 is 146.42
Year is 45 and growth of $1 is 163.99
Year is 46 and growth of $1 is 183.67
Year is 47 and growth of $1 is 205.71
Year is 48 and growth of $1 is 230.39
Year is 49 and growth of $1 is 258.04
Year is 50 and growth of $1 is 289.0
Year is 51 and growth of $1 is 323.68
Year is 52 and growth of $1 is 362.52
Year is 53 and growth of $1 is 406.03
Year is 54 and growth of $1 is 454.75
Year is 55 and growth of $1 is 509.32
Year is 56 and growth of $1 is 570.44
Year is 57 and growth of $1 is 638.89
Year is 58 and growth of $1 is 715.56
Year is 59 and growth of $1 is 801.43
Year is 60 and growth of $1 is 897.6
Year is 61 and growth of $1 is 1005.31
Year is 62 and growth of $1 is 1125.95
Year is 63 and growth of $1 is 1261.06
Year is 64 and growth of $1 is 1412.39
Year is 65 and growth of $1 is 1581.87
Year is 66 and growth of $1 is 1771.7
Year is 67 and growth of $1 is 1984.3
Year is 68 and growth of $1 is 2222.42
Year is 69 and growth of $1 is 2489.11
Year is 70 and growth of $1 is 2787.8
Year is 71 and growth of $1 is 3122.34
Year is 72 and growth of $1 is 3497.02
Year is 73 and growth of $1 is 3916.66
Year is 74 and growth of $1 is 4386.66
Year is 75 and growth of $1 is 4913.06
Year is 76 and growth of $1 is 5502.62
Year is 77 and growth of $1 is 6162.94
Year is 78 and growth of $1 is 6902.49
Year is 79 and growth of $1 is 7730.79
Year is 80 and growth of $1 is 8658.48
Year is 81 and growth of $1 is 9697.5
Year is 82 and growth of $1 is 10861.2
Year is 83 and growth of $1 is 12164.55
Year is 84 and growth of $1 is 13624.29
Year is 85 and growth of $1 is 15259.21
Year is 86 and growth of $1 is 17090.31
Year is 87 and growth of $1 is 19141.15
Year is 88 and growth of $1 is 21438.09
Year is 89 and growth of $1 is 24010.66
Year is 90 and growth of $1 is 26891.93
Year is 91 and growth of $1 is 30118.97
Year is 92 and growth of $1 is 33733.24
Year is 93 and growth of $1 is 37781.23
Year is 94 and growth of $1 is 42314.98
Year is 95 and growth of $1 is 47392.78
Year is 96 and growth of $1 is 53079.91
Year is 97 and growth of $1 is 59449.5
Year is 98 and growth of $1 is 66583.44
Year is 99 and growth of $1 is 74573.45